<div class="container py-3">
<form [formGroup]="budgetForm" (ngSubmit)="handleSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      formControlName = "title"
      type="text"
      class="form-control is-invalid"
      id="title"
      placeholder="Title"
      required
      [class.is-invalid] = "title.invalid && (title.dirty || title.touched)"
      [class.is-valid] = "title.valid"
    />
    <div class="invalid-feedback">Please provide a title!</div>
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input
    formControlName = "amount"
      type="text"
      class="form-control"
      id="amount"
      placeholder="Amount"
      required
      [class.is-invalid] = "amount.invalid && (amount.dirty || amount.touched)"
      [class.is-valid] = "amount.valid"
    />
    <div class="invalid-feedback" *ngIf="amount.invalid && amount.errors?.['required']">
      Please provide an amount!
    </div>
    <div class="invalid-feedback" *ngIf="amount.invalid && amount.errors?.['pattern']">
      Please provide valid amount.  [E-g] +1100 or 1100 or -600
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input
      type="text"
      formControlName = "category"
      class="form-control"
      id="category"
      placeholder="Category" 
    />
    <div class="invalid-feedback">Please provide category!</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="budgetForm.invalid">Submit</button>
</form>
</div>